In [2]:
import pandas as pd
from datetime import datetime

In [3]:
df = pd.read_csv("./temperature.csv")

In [84]:
del df["Unnamed: 0"]

In [85]:
df

,date,Temperature,Humidity,Light,CO2,HumidityRatio
0,04/02/2015 17:51,23.180000,27.272000,426.0,721.250000,0.004793
1,04/02/2015 17:51,23.150000,27.267500,429.5,714.000000,0.004783
2,04/02/2015 17:53,23.150000,27.245000,426.0,713.500000,0.004779
3,04/02/2015 17:54,23.150000,27.200000,426.0,708.250000,0.004772
4,04/02/2015 17:55,23.100000,27.200000,426.0,704.500000,0.004757
5,04/02/2015 17:55,23.100000,27.200000,419.0,701.000000,0.004757
6,04/02/2015 17:57,23.100000,27.200000,419.0,701.666667,0.004757
7,04/02/2015 17:57,23.100000,27.200000,419.0,699.000000,0.004757
8,04/02/2015 17:58,23.100000,27.200000,419.0,689.333333,0.004757
9,04/02/2015 18:00,23.075000,27.175000,419.0,688.000000,0.004745
10,04/02/2015 18:01,23.075000,27.150000,419.0,690.250000,0.004741
11,04/02/2015 18:02,23.100000,27.100000,419.0,691.000000,0.004739
12,04/02/2015 18:03,23.100000,27.166667,419.0,683.500000,0.004751
13,04/02/2015 18:04,23.050000,27.150000,419.0,687.500000,0.004734
14,04/02/2015 18:04,23.000000,27.125000,419.0,686.000000,0.004715
15,04/02/2015 18:06,23.000000,27.125000,418.5,680.500000,0.004715
16,04/02/2015 18:07,23.000000,27.200000,0.0,681.500000,0.004728
17,04/02/2015 18:08,22.945000,27.290000,0.0,685.000000,0.004728
18,04/02/2015 18:08,22.945000,27.390000,0.0,685.000000,0.004745
19,04/02/2015 18:10,22.890000,27.390000,0.0,689.000000,0.004730
20,04/02/2015 18:10,22.890000,27.390000,0.0,689.500000,0.004730
21,04/02/2015 18:11,22.890000,27.390000,0.0,689.000000,0.004730
22,04/02/2015 18:13,22.890000,27.445000,0.0,691.000000,0.004739
23,04/02/2015 18:14,22.890000,27.500000,0.0,688.000000,0.004749
24,04/02/2015 18:15,22.890000,27.500000,0.0,689.500000,0.004749
25,04/02/2015 18:16,22.790000,27.445000,0.0,689.000000,0.004710
26,04/02/2015 18:16,22.790000,27.500000,0.0,685.666667,0.004720
27,04/02/2015 18:17,22.790000,27.500000,0.0,687.000000,0.004720
28,04/02/2015 18:19,22.790000,27.500000,0.0,688.000000,0.004720
29,04/02/2015 18:20,22.745000,27.500000,0.0,670.000000,0.004707
...,...,...,...,...,...,...
8113,10/02/2015 9:04,20.700000,34.417500,419.0,568.750000,0.005203
8114,10/02/2015 9:04,20.700000,34.090000,419.0,556.666667,0.005153
8115,10/02/2015 9:06,20.700000,34.296667,419.0,548.000000,0.005184
8116,10/02/2015 9:07,20.730000,34.466667,419.0,563.333333,0.005220
8117,10/02/2015 9:08,20.745000,34.567500,426.0,593.750000,0.005240
8118,10/02/2015 9:08,20.767500,34.717500,422.5,600.750000,0.005270
8119,10/02/2015 9:10,20.790000,35.090000,426.0,623.000000,0.005335
8120,10/02/2015 9:10,20.790000,34.972500,433.0,631.000000,0.005317
8121,10/02/2015 9:11,20.790000,34.826667,433.0,636.000000,0.005295
8122,10/02/2015 9:13,20.840000,35.195000,433.0,636.750000,0.005368
8123,10/02/2015 9:14,20.890000,35.300000,433.0,663.000000,0.005401
8124,10/02/2015 9:15,20.856667,35.096667,433.0,665.333333,0.005358
8125,10/02/2015 9:16,20.890000,35.320000,433.0,669.500000,0.005404
8126,10/02/2015 9:16,20.917500,35.475000,433.0,679.250000,0.005437
8127,10/02/2015 9:17,20.890000,35.400000,433.0,684.666667,0.005416
8128,10/02/2015 9:19,20.917500,35.717500,433.0,706.250000,0.005474
8129,10/02/2015 9:20,20.958750,35.683750,433.0,712.625000,0.005483
8130,10/02/2015 9:21,21.000000,35.650000,433.0,719.000000,0.005492
8131,10/02/2015 9:22,21.000000,35.700000,433.0,730.250000,0.005500
8132,10/02/2015 9:23,21.000000,35.760000,433.0,739.000000,0.005509
8133,10/02/2015 9:23,21.000000,35.850000,433.0,756.250000,0.005523
8134,10/02/2015 9:24,21.000000,35.700000,433.0,761.000000,0.005500
8135,10/02/2015 9:26,21.025000,35.950000,433.0,763.000000,0.005547
8136,10/02/2015 9:27,21.000000,35.860000,433.0,771.333333,0.005525
8137,10/02/2015 9:28,21.050000,36.050000,433.0,780.250000,0.005571
8138,10/02/2015 9:29,21.050000,36.097500,433.0,787.250000,0.005579
8139,10/02/2015 9:29,21.050000,35.995000,433.0,789.500000,0.005563
8140,10/02/2015 9:30,21.100000,36.095000,433.0,798.500000,0.005596
8141,10/02/2015 9:32,21.100000,36.260000,433.0,820.333333,0.005621
8142,10/02/2015 9:33,21.100000,36.200000,447.0,821.000000,0.005612

In [39]:
df.Timestamp = pd.to_datetime(df.date) 
df.index = df.Timestamp
df = df.drop("date", axis=1)

C:\Users\mubashar.nazar\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  """Entry point for launching an IPython kernel.

In [68]:
df.head(5)

                     Temperature  Humidity  Light     CO2  HumidityRatio
date
2015-02-04 17:51:00        23.18   27.2720  426.0  721.25       0.004793
2015-02-04 17:51:59        23.15   27.2675  429.5  714.00       0.004783
2015-02-04 17:53:00        23.15   27.2450  426.0  713.50       0.004779
2015-02-04 17:54:00        23.15   27.2000  426.0  708.25       0.004772
2015-02-04 17:55:00        23.10   27.2000  426.0  704.50       0.004757

In [76]:
df.shape

(8143, 5)

In [60]:
train = df[:7143]
test = df[7143:]

# Vector Auto Regression (VAR)

In [61]:
#fit the model
from statsmodels.tsa.vector_ar.var_model import VAR

model = VAR(endog=train)
model_fit = model.fit()

C:\Users\mubashar.nazar\AppData\Local\Continuum\anaconda3\lib\site-packages\statsmodels\tsa\base\tsa_model.py:225: ValueWarning: A date index has been provided, but it has no associated frequency information and so will be ignored when e.g. forecasting.
  ' ignored when e.g. forecasting.', ValueWarning)

In [62]:
forecast = model_fit.forecast(model_fit.y, steps=len(test))

In [63]:
cols = train.columns
forcast = pd.DataFrame(index=range(0,len(forecast)),columns=[cols])
for j in range(0, 5):
    for i in range(0, len(forecast)):
        forcast.iloc[i][j] = forecast[i][j]

In [64]:
forcast

    Temperature Humidity    Light      CO2 HumidityRatio
0        22.094  38.8003  437.086  1998.37    0.00640185
1       22.0882  38.8108  441.089  1999.29    0.00640272
2       22.0827  38.8214   445.01  2000.24    0.00640366
3       22.0773  38.8322  448.851  2001.24    0.00640467
4       22.0722  38.8432  452.615  2002.27    0.00640575
5       22.0672  38.8543  456.304  2003.34     0.0064069
6       22.0625  38.8656  459.919  2004.44    0.00640811
7       22.0579   38.877  463.462  2005.58    0.00640939
8       22.0535  38.8886  466.936  2006.76    0.00641073
9       22.0493  38.9003  470.341  2007.97    0.00641214
10      22.0453  38.9121  473.681  2009.21     0.0064136
11      22.0415  38.9241  476.955  2010.48    0.00641512
12      22.0378  38.9363  480.167  2011.79     0.0064167
13      22.0343  38.9485  483.317  2013.13    0.00641834
14      22.0309  38.9609  486.408   2014.5    0.00642003
15      22.0277  38.9734   489.44  2015.89    0.00642177
16      22.0247   38.986  492.416  2017.32    0.00642357
17      22.0218  38.9988  495.336  2018.78    0.00642542
18       22.019  39.0117  498.203  2020.26    0.00642732
19      22.0164  39.0247  501.017  2021.77    0.00642926
20      22.0139  39.0378   503.78  2023.31    0.00643126
21      22.0116   39.051  506.493  2024.87     0.0064333
22      22.0093  39.0643  509.158  2026.46    0.00643539
23      22.0073  39.0777  511.775  2028.07    0.00643752
24      22.0053  39.0913  514.347  2029.71    0.00643969
25      22.0034  39.1049  516.873  2031.37    0.00644191
26      22.0017  39.1187  519.356  2033.05    0.00644417
27      22.0001  39.1325  521.796  2034.76    0.00644647
28      21.9986  39.1465  524.195  2036.49    0.00644881
29      21.9972  39.1605  526.553  2038.24    0.00645119
..          ...      ...      ...      ...           ...
970     27.2994  72.9006  2166.75  7071.41     0.0138316
971     27.3103  72.9671  2169.89  7081.42     0.0138463
972     27.3212  73.0337  2173.04  7091.45     0.0138609
973     27.3321  73.1004   2176.2   7101.5     0.0138756
974      27.343  73.1671  2179.35  7111.56     0.0138903
975     27.3539   73.234  2182.52  7121.63      0.013905
976     27.3648   73.301  2185.68  7131.72     0.0139198
977     27.3758  73.3681  2188.86  7141.83     0.0139345
978     27.3868  73.4352  2192.03  7151.95     0.0139493
979     27.3978  73.5025  2195.22  7162.08     0.0139641
980     27.4088  73.5699   2198.4  7172.23     0.0139789
981     27.4198  73.6373  2201.59   7182.4     0.0139938
982     27.4309  73.7049  2204.79  7192.58     0.0140087
983     27.4419  73.7726  2207.99  7202.78     0.0140236
984      27.453  73.8403   2211.2  7212.99     0.0140385
985     27.4641  73.9082  2214.41  7223.21     0.0140534
986     27.4752  73.9762  2217.62  7233.45     0.0140684
987     27.4864  74.0442  2220.84  7243.71     0.0140834
988     27.4975  74.1124  2224.07  7253.98     0.0140984
989     27.5087  74.1807   2227.3  7264.27     0.0141134
990     27.5198   74.249  2230.53  7274.57     0.0141285
991      27.531  74.3175  2233.77  7284.89     0.0141435
992     27.5423  74.3861  2237.01  7295.22     0.0141586
993     27.5535  74.4547  2240.26  7305.57     0.0141738
994     27.5647  74.5235  2243.52  7315.94     0.0141889
995      27.576  74.5924  2246.78  7326.32     0.0142041
996     27.5873  74.6614  2250.04  7336.71     0.0142192
997     27.5986  74.7305  2253.31  7347.12     0.0142345
998     27.6099  74.7996  2256.58  7357.55     0.0142497
999     27.6212  74.8689  2259.86  7367.99     0.0142649

[1000 rows x 5 columns]

In [65]:
test

                     Temperature   Humidity  Light          CO2  HumidityRatio
date
2015-02-09 16:53:59    22.100000  38.845000  433.0  1997.500000       0.006410
2015-02-09 16:54:59    22.100000  38.845000  433.0  2007.500000       0.006410
2015-02-09 16:56:00    22.100000  38.790000  433.0  2007.000000       0.006401
2015-02-09 16:57:00    22.100000  38.872500  433.0  1997.500000       0.006415
2015-02-09 16:58:00    22.100000  38.950000  433.0  2001.000000       0.006428
2015-02-09 16:59:00    22.100000  38.947500  433.0  2010.500000       0.006427
2015-02-09 16:59:59    22.100000  39.000000  433.0  2005.000000       0.006436
2015-02-09 17:00:59    22.100000  39.000000  433.0  2007.666667       0.006436
2015-02-09 17:02:00    22.100000  38.972500  433.0  2008.250000       0.006431
2015-02-09 17:03:00    22.100000  39.022500  433.0  2012.250000       0.006440
2015-02-09 17:04:00    22.100000  39.000000  433.0  2027.500000       0.006436
2015-02-09 17:05:00    22.100000  39.000000  433.0  2028.500000       0.006436
2015-02-09 17:06:00    22.100000  38.975000  433.0  2021.750000       0.006432
2015-02-09 17:06:59    22.100000  39.000000  433.0  2012.500000       0.006436
2015-02-09 17:08:00    22.100000  38.975000  433.0  2007.000000       0.006432
2015-02-09 17:09:00    22.100000  39.022500  433.0  2008.250000       0.006440
2015-02-09 17:10:00    22.100000  39.045000  433.0  2019.250000       0.006444
2015-02-09 17:10:59    22.100000  39.030000  433.0  2028.000000       0.006441
2015-02-09 17:12:00    22.100000  39.067500  433.0  2015.500000       0.006447
2015-02-09 17:12:59    22.100000  39.000000  433.0  2010.333333       0.006436
2015-02-09 17:13:59    22.100000  39.022500  433.0  2019.000000       0.006440
2015-02-09 17:15:00    22.100000  39.067500  433.0  2022.500000       0.006447
2015-02-09 17:16:00    22.100000  39.030000  433.0  2016.000000       0.006441
2015-02-09 17:17:00    22.100000  39.090000  433.0  2013.000000       0.006451
2015-02-09 17:18:00    22.100000  39.090000  433.0  2017.250000       0.006451
2015-02-09 17:19:00    22.100000  39.117500  433.0  2012.500000       0.006456
2015-02-09 17:19:59    22.100000  39.090000  433.0  2026.000000       0.006451
2015-02-09 17:21:00    22.133333  39.090000  433.0  2023.000000       0.006464
2015-02-09 17:22:00    22.100000  39.090000  433.0  2027.500000       0.006451
2015-02-09 17:23:00    22.100000  39.067500  433.0  2025.250000       0.006447
...                          ...        ...    ...          ...            ...
2015-02-10 09:04:00    20.700000  34.417500  419.0   568.750000       0.005203
2015-02-10 09:04:59    20.700000  34.090000  419.0   556.666667       0.005153
2015-02-10 09:06:00    20.700000  34.296667  419.0   548.000000       0.005184
2015-02-10 09:07:00    20.730000  34.466667  419.0   563.333333       0.005220
2015-02-10 09:08:00    20.745000  34.567500  426.0   593.750000       0.005240
2015-02-10 09:08:59    20.767500  34.717500  422.5   600.750000       0.005270
2015-02-10 09:10:00    20.790000  35.090000  426.0   623.000000       0.005335
2015-02-10 09:10:59    20.790000  34.972500  433.0   631.000000       0.005317
2015-02-10 09:11:59    20.790000  34.826667  433.0   636.000000       0.005295
2015-02-10 09:13:00    20.840000  35.195000  433.0   636.750000       0.005368
2015-02-10 09:14:00    20.890000  35.300000  433.0   663.000000       0.005401
2015-02-10 09:15:00    20.856667  35.096667  433.0   665.333333       0.005358
2015-02-10 09:16:00    20.890000  35.320000  433.0   669.500000       0.005404
2015-02-10 09:16:59    20.917500  35.475000  433.0   679.250000       0.005437
2015-02-10 09:17:59    20.890000  35.400000  433.0   684.666667       0.005416
2015-02-10 09:19:00    20.917500  35.717500  433.0   706.250000       0.005474
2015-02-10 09:20:00    20.958750  35.683750  433.0   712.625000       0.005483
2015-02-10 09:21:00    21.000000  35.650000  433.0   719.000000       0.005492
2015-02-10 09:22:00    21.000000  35.700000  433.0   730.250000       0.005500
2015-02-10 09:23:00    21.000000  35.760000  433.0   739.000000       0.005509
2015-02-10 09:23:59    21.000000  35.850000  433.0   756.250000       0.005523
2015-02-10 09:24:59    21.000000  35.700000  433.0   761.000000       0.005500
2015-02-10 09:26:00    21.025000  35.950000  433.0   763.000000       0.005547
2015-02-10 09:27:00    21.000000  35.860000  433.0   771.333333       0.005525
2015-02-10 09:28:00    21.050000  36.050000  433.0   780.250000       0.005571
2015-02-10 09:29:00    21.050000  36.097500  433.0   787.250000       0.005579
2015-02-10 09:29:59    21.050000  35.995000  433.0   789.500000       0.005563
2015-02-10 09:30:59    21.100000  36.095000  433.0   798.500000       0.005596
2015-02-10 09:32:00    21.100000  36.260000  433.0   820.333333       0.005621
2015-02-10 09:33:00    21.100000  36.200000  447.0   821.000000       0.005612

[1000 rows x 5 columns]